@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main: orange;
    --bg: #0B1218;
    --bg-body: #131D28;
}


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #b8c2cc;
}

a:visited {
    color: #b8c2cc;
}

input,
button {
    outline: none;


}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    overflow-y: auto;
    background: var(--bg);

}

.sidemenu {
    padding: .5rem;
    overflow-y: auto;
}

.sidemenu li {
    margin-bottom: 1rem;
}

.sidemenu a {
    color: #fff;
    font-size: 1rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    transition: .3s;
}


.sidemenu a span:first-child {
    font-size: 1.3rem;
    padding: 0rem, 1.6rem;
    margin: 0rem .75rem;
}

.sidemenu a.active {
    background: var(--main);
    color: #fff;
    border-radius: 4px;
    height: 50px;
}

.main-content {
    margin-left: 200px;
    min-height: 100vh;
    background: var(--bg-body);
    padding: .5rem 1rem;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    padding: 0rem 1rem;
    /*position: fixed;*/
    left: calc(200px + 1rem);
    right: 1rem;
    top: .5rem;
    border-radius: 3px;
}


.search {
    display: flex;
    width: 300px;
    border-radius: 20px;
    overflow-x: hidden;
    border: 1px solid #3e454d;
    align-items: center;
}

.search span {
    font-size: 1.3rem;
    color: #fff;
    padding-left: 1rem;

}

.search p {
    font-weight: 600;
    padding: 1rem;
    color: #fff;
}

.header-icons span {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #ffffff;
}

main {
    margin-top: .5rem;
    padding: 1rem 0rem;

}

/* 主界面样式修改 */

/* 个人信息 */
.container {
    display: grid;
    grid-template-columns: 30% 70%;

}

.left1 {
    grid-gap: 3rem;
    background: var(--bg);
    border-radius: 3px;
    display: grid;
    grid-template-rows: 1fr auto;

}

.left1-icon {
    margin-top: 2rem;
    text-align: center;
    display: grid;
    place-items: center;
    color: #8d8d8d;
    font-size: 200px;
    /* icon 大小*/
    border-radius: 50%;
}

.left1-info {
    padding: 2rem;

}

.left1 h1 {
    font-size: 48px;
    /* 设置姓名（name）的字体大小 */
    font-weight: bold;
    color: #fff;
    /* 设置姓名（name）的字体颜色 */
}

.left1 p {
    color: #fff;
    /* 设置数字（number）的颜色 */
    font-size: 20px;
}

.block {
    padding: .5rem;
    margin-top: 1.5rem;
    width: 300px;
    height: 200px;
    border: 3px solid #3e454d;
    border-radius: 5px;
}

.block p {

    padding: .5rem 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.right-container {

    margin-left: 40px;
    margin-right: 40px;

}

.right1 {
    grid-gap: 3rem;
    background: var(--bg);
    border-radius: 3px;
    height: 280px;
}

.right1-head {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    border-bottom: 1px solid #3e454d;
    margin: .5rem;
}

.right1-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: .5rem;
    border-radius: 3px;
}

.card {
    margin-top: 2rem;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.card-info {
    text-align: center;
    margin-top: 0rem;
}

.card-info h2 {
    font-size: 3rem;
    color: #efefef;
}

.card-info p {
    color: var(--main);
}

.right2 {
    margin-top: 2rem;
    grid-gap: 3rem;
    background: var(--bg);
    border-radius: 3px;

}

.right2-head {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    border-bottom: 1px solid #3e454d;
    margin: .5rem;
}

.right2-content {
    display: grid;
    grid-template-rows: 50px auto;
    padding: .5rem;
    border-radius: 3px;
}
#show_md_container {
    border: 1px solid white;
    padding: 10px;
    background-color: #0B1218;
    display: none;
  }
  
  #show_md {
    color: white;

  }


/* 表格的整体框架*/
.table1 {
    width: 100%;
    height: auto;
    border-radius: 3px;
    margin-top: .5rem;

}

/* 表格中按钮的样式 让他们在这一行内居中 */
.btn4table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin: 1rem;

}

.table1 table {
    table-layout: fixed;
    width: 100%;
    color: #efefef;

}

.table1 th,
.table1 td {
    width: 33.33%;
    border-color: #fff;
}



button {
    background-color: #597cfb;
    /* 设置按钮背景颜色 */
    color: orange;
    /* 设置按钮字体颜色 */
    border: none;
    /* 移除按钮边框 */
    padding: .5rem;
    /* 设置按钮内边距 */
    text-align: center;
    /* 设置文本居中对齐 */
    text-decoration: none;
    /* 移除文本装饰 */
    display: inline-block;
    /* 设置为内联块级元素 */
    font-size: 1rem;
    /* 设置字体大小 */
    margin: .5rem;
    /* 设置外边距 */
    cursor: pointer;
    /* 设置鼠标悬停时的光标样式 */
    transition: background-color 0.3s;
    /* 设置背景颜色过渡效果 */
    border-radius: 3px;
    /* 设置边框圆角 */
    font-weight: 700;
}

button:hover {
    background-color: #d3cdfc;
    /* 设置鼠标悬停时的背景颜色 */
}



/* 这是插入图片用的 */
.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 200px;
    height: 200px;
}