@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main: orange;
    --bg: #0B1218;
    --bg-body: #131D28;
}


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input, button {
    outline: none;
    

}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    overflow-y: auto;
    background: var(--bg);

}

.sidemenu {
    padding: .5rem;
    overflow-y: auto;
}

.sidemenu li {
    margin-bottom: 1rem;
}

.sidemenu a {
    color: #fff;
    font-size: 1rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    transition: .3s;
}


.sidemenu a span:first-child {
    font-size: 1.3rem;
    padding: 0rem, 1.6rem;
    margin: 0rem .75rem;
}

.sidemenu a.active {
    background: var(--main);
    color: #fff;
    border-radius: 4px;
    height: 50px;
}

.main-content {
    margin-left: 200px;
    min-height: 100vh;
    background: var(--bg-body);
    padding: .5rem 1rem;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    padding: 0rem 1rem;
    left: calc(200px + 1rem);
    right: 1rem;
    top: .5rem;
    border-radius: 3px;
}


.search {
    display: flex;
    width: 300px;
    border-radius: 20px;
    overflow-x: hidden;
    border: 1px solid #3e454d;
    align-items: center;
}

.search span {
    font-size: 1.3rem;
    color: #fff;
    padding-left: 1rem;

}
.search input {
    flex: 1;
    height: 45px;
    border: none;
    background: transparent;
    padding: 1rem;
    color: #fff;
}
.header-icons span{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #fff;
}

main {
    margin-top: .5rem;
    padding: 1rem 0rem;
    
}

.cards {
    display: grid;
    grid-template-columns: 65% auto;

    grid-gap: 1.5rem;
}

.leftcards1 {
    grid-gap: 3rem;
    background: var(--bg);
    border-radius: 3px;
    height: 250px;
}

.leftcards1-head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    border-bottom: 1px solid #3e454d;
    margin: .5rem;

}

.leftcards1-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: .5rem;
    border-radius: 3px;
}

.card-icon {
    text-align: center;
    display: grid;
    place-items: center;
}
.card-icon span {
    height: 45px;
    width: 45px;
    color: #fff;
    font-size: 1.8rem;/* icon 大小*/
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.group span {
    color: #0072f2;
    background: #e5f3fe;
}

.star span {
    color: #f7b731;
    background: #fef3e5;
}

.fork span {
    color: #fd4258;
    background: #f7e3e3;
}

.watch span {
    color: #00b19b;
    background: #e3f7f3;
}

.card {
    padding: .5rem 1rem;
    border-radius: 3px;
}

.card-info {
    text-align: center;
    margin-top: 0rem;
}

.card-info h2{
    font-size: 3rem;
    color: #efefef;
}

.card-info small {
    display: inline-block;
    color: var(--main);
    font-weight: 500;
}


.rightcards1 {
    border-radius: 3px;
    grid-gap: 3rem;
    background: var(--bg);
    height: 250px;
}
.rightcards1-head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    border-bottom: 1px solid #3e454d;
    margin: .5rem;
    
}
.top-3 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    color: #fff;
}
.top-3 ul {
    counter-reset: section;
}
.top-3 li {
    border-bottom: 1px solid #b8c2cc;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.top-3 li:before {
    counter-increment: section;
    content: counter(section);
    display: inline-block;
    padding: 0 .75rem;
    width: .75rem;
    height: 1.2rem;
    margin-right: 1rem;
    line-height: 1rem;
    background: #b8c2cc;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    font-weight: 800;
}

.top-3 li:nth-child(1):before {
    background: #ffd700
}

.top-3 li:nth-child(2):before {
    background: #c0c0c0
}

.top-3 li:nth-child(3):before {
    background: #b87333
}

.lc2-devided {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    height: 300px;
}

.leftcards2-info {
    background: var(--bg);
    border-radius: 3px;
    height: 280px;
}
.leftcards2-chart {
    background: var(--bg);
    border-radius: 3px;
    height: 280px;
}

.leftcards2-head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    border-bottom: 1px solid #3e454d;
    margin: .5rem;

}

.leftcards2-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 3px;
    margin: 1rem;
}

.smaller {
    margin: auto;
    padding: auto;
    margin-top: .5rem;
    border-radius: 3px;
}

.card-info-small {
    display: inline-block;
    color: var(--main);
    font-weight: 500;
    text-align: center;
}

.card-info-small h2{
    font-size: 2rem;
    color: #efefef;
    align-items: center;
    text-align: center;
}

.rightcards2 {
    border-radius: 3px;
    background: var(--bg);
    height: 280px;
}
.rightcards2-head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    border-bottom: 1px solid #3e454d;
    margin: .5rem;
    
}

.rightcards2-content {
    display: flex;
    align-items: center;
    padding: .5rem;
    margin: 1rem;
    border-radius: 3px;
    align-content: center;
}
.right2 {
    margin: auto;
    padding: auto;
    border-radius: 3px;
    margin-top: 2rem
}

.lc3-devided {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    height: 300px;
}

.leftcards3-info {
    background: var(--bg);
    border-radius: 3px;
    height: 280px;
}
.leftcards3-chart {
    background: var(--bg);
    border-radius: 3px;
    height: 280px;
}

.leftcards3-head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    border-bottom: 1px solid #3e454d;
    margin: .5rem;

}

.leftcards3-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 3px;
    margin: 1rem;
}

.lc3 {
    padding: auto;
    margin: auto;
    margin-top: .5rem;
}

.rightcards3 {
    border-radius: 3px;
    background: var(--bg);
    height: 280px;
}
.rightcards3-head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    border-bottom: 1px solid #3e454d;
    margin: .5rem;
    
}

.rightcards3-content {
    display: flex;
    align-items: center;
    padding: .5rem;
    margin: 1rem;
    border-radius: 3px;
    align-content: center;
}

.tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 3px;
    
    
}
.table1 {
    border-radius: 3px;
    background: var(--bg);
    margin-right: .5rem;
}
.table1-head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    border-bottom: 1px solid #3e454d;
    margin: .5rem;
}
.table1-content {
    display: grid;
    grid-template-rows: 50px 1fr;
    border-radius: 3px;
    margin: 1rem;
}
.btn4table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin: 1rem;

}
button {
    background-color: #597cfb; /* 设置按钮背景颜色 */
    color: orange; /* 设置按钮字体颜色 */
    border: none; /* 移除按钮边框 */
    padding: .5rem; /* 设置按钮内边距 */
    text-align: center; /* 设置文本居中对齐 */
    text-decoration: none; /* 移除文本装饰 */
    display: inline-block; /* 设置为内联块级元素 */
    font-size: 1rem; /* 设置字体大小 */
    margin: .5rem; /* 设置外边距 */
    cursor: pointer; /* 设置鼠标悬停时的光标样式 */
    transition: background-color 0.3s; /* 设置背景颜色过渡效果 */
    border-radius: 3px; /* 设置边框圆角 */
    font-weight: 700;
}

button:hover {
    background-color: #d3cdfc; /* 设置鼠标悬停时的背景颜色 */
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1rem;
    
}
.table2 {
    border-radius: 3px;
    background: var(--bg);
    margin-left: .5rem;
}
.table2-head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef;
    border-bottom: 1px solid #3e454d;
    margin: .5rem;
}
.table2-content {
    display: grid;
    grid-template-rows: 50px 1fr;
    border-radius: 3px;
    margin: 1rem;
}