<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimun-scale=1, maximum-scale=1
    , initial-scale=1.0">
    <title>Repo Page</title>
    <script src="https://kit.fontawesome.com/e48f71af9c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/grouppage.css">
</head>

<body>
    <div class="sidebar">
        <div class="sidemenu">
            <ul>
                <li>
                    <a href="/">
                        <span class="fas fa-home"></span>
                        <span>MainPage</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="active">
                        <span class="fa fa-group"></span>
                        <span>GroupInfo</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fas fa-address-card"></span>
                        <span>StudentInfo</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fas fa-print"></span>
                        <span>Print</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <div class="search">
                <p id="org_repo"></p>
            </div>
            <div class="header-icons">
                <span class="fas fa-bell"></span>
                <span class="fas fa-bookmark"></span>
                <span class="fas fa-calendar"></span>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="leftside">
                    <div class="left1">
                        <div class="left1-head">
                            <h3>Repositories(Groups) Statistics</h3>
                        </div>
                        <div class="left1-content">
                            <div class="card">
                                <div class="card-icon star">
                                    <span class="fas fa-star"></span>
                                </div>
                                <div class="card-info">
                                    <h2 id="repostars">168</h2>
                                    <small>Stars</small>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-icon fork">
                                    <span class="fas fa-folder-plus"></span>
                                </div>
                                <div class="card-info">
                                    <h2 id="repoforks">77</h2>
                                    <small>Forks</small>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-icon watch">
                                    <span class="fas fa-eye"></span>
                                </div>
                                <div class="card-info">
                                    <h2 id="repowatch">45</h2>
                                    <small>Watches</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mid1">
                        <div class="mid1-head">
                            <h3>Commit Statistics</h3>
                        </div>
                        <div class="mid1-content">
                            <div class="card-commit">
                                <h2 id="commits">104</h2>
                                <p style="font-size: large;">Commits</p>

                            </div>
                            <div class="card-commit">
                                <h2 id="commiters">24</h2>
                                <p style="font-size: large;">Commiters</p>

                            </div>
                        </div>
                    </div>
                    <div class="left2">
                        <div class="left2-head">
                            <h3>Issue Statistics</h3>
                        </div>
                        <div class="left2-content">
                            <div class="card-issue">
                                <div class="card-info-small">
                                    <h2 id="issuecnt">108</h2>
                                    <small>Issues</small>
                                </div>
                            </div>
                            <div class="card-issue">
                                <div class="card-info-small">
                                    <h2 id="issuecreator">19</h2>
                                    <small>Creators</small>
                                </div>
                            </div>
                            <div class="card-issue">
                                <div class="card-info-small">
                                    <h2 id="openissue">45</h2>
                                    <small>Open Issues</small>
                                </div>
                            </div>
                            <div class="card-issue">
                                <div class="card-info-small">
                                    <h2 id="otherissue">44</h2>
                                    <small>Closed Issues</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mid2">
                        <div class="mid2-head">
                            <h3>Issue Chart</h3>
                        </div>
                        <div class="mid2-content">
                            <div id="issuechart" style="height: 260px;"></div>
                        </div>
                    </div>
                    <div class="left3">
                        <div class="left3-head">
                            <h3>Pull Request Statistics</h3>
                        </div>
                        <div class="left3-content">
                            <div class="card-pull">
                                <div class="card-info-small">
                                    <h2 id="pullcnt">108</h2>
                                    <small>Pull Requests</small>
                                </div>
                            </div>
                            <div class="card-pull">
                                <div class="card-info-small">
                                    <h2 id="openpull">19</h2>
                                    <small>Open Pulls</small>
                                </div>
                            </div>
                            <div class="card-pull">
                                <div class="card-info-small">
                                    <h2 id="closedpull">44</h2>
                                    <small>Closed Pulls</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mid3">
                        <div class="mid3-head">
                            <h3>Pull Request Chart</h3>
                        </div>
                        <div class="mid3-content">
                            <div id="pullchart" style="height: 260px;"></div>
                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="right1">
                        <div class="right1-head">
                            <h3>Member Infos</h3>
                        </div>
                        <div class="right1-content">
                            <table id="user-list">
                                <tr>
                                    <th>Student_ID</th>
                                    <th>Student_Name</th>
                                    <th>Contributions</th>
                                </tr>
                                <!-- 其他行... -->
                            </table>
                        </div>
                    </div>
                    <div class="right2">
                        <div id="contrichart" style="height: 300px;"></div>
                    </div>

                </div>

            </div>
        </main>
    </div>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="../static/js/grouppage.js"></script>
</body>

</html>