<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimun-scale=1, maximum-scale=1
    , initial-scale=1.0">
    <title>Main Page</title>
    <script src="https://kit.fontawesome.com/e48f71af9c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="sidebar">
        <div class="sidemenu">
            <ul>
                <li>
                    <a href="" class="active">
                        <span class="fas fa-home"></span>
                        <span>MainPage</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa fa-group"></span>
                        <span>GroupInfo</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fas fa-address-card"></span>
                        <span>StudentInfo</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fas fa-print"></span>
                        <span>Print</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <div class="search">
                <p id="orgname"></p>
            </div>
            <div class="header-icons">
                <span class="fas fa-bell"></span>
                <span class="fas fa-bookmark"></span>
                <span class="fas fa-calendar"></span>
            </div>
        </header>
        <main>
            <div class="cards">
                <div class="leftcards1">
                    <div class="leftcards1-head">
                        <h3>Repositories(Groups) Statistics</h3>
                    </div>
                    <div class="leftcards1-content">
                        <div class="card">
                            <div class="card-icon group">
                                <span class="fa fa-users"></span>
                            </div>
                            <div class="card-info">
                                <h2 id="totalrepo">18</h2>
                                <small>Total Repositories</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-icon star">
                                <span class="fas fa-star"></span>
                            </div>
                            <div class="card-info">
                                <h2 id="totalstars">168</h2>
                                <small>Total stars</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-icon fork">
                                <span class="fas fa-folder-plus"></span>
                            </div>
                            <div class="card-info">
                                <h2 id="totalforks">77</h2>
                                <small>Total forks</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-icon watch">
                                <span class="fas fa-eye"></span>
                            </div>
                            <div class="card-info">
                                <h2 id="totalwatches">45</h2>
                                <small>Total watches</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rightcards1">
                    <div class="rightcards1-head">
                        <h3>Most Commits Repositories(Groups)</h3>
                    </div>
                    <div class="top-3">
                        <ul>
                            <li><a id="t1">Repo 1</a></li>
                            <li><a id="t2">Repo 2</a></li>
                            <li><a id="t3">Repo 3</a></li>
                        </ul>

                    </div>

                </div>

                <div class="leftcards2">
                    <div class="leftcards2-issue">
                        <div class="card-head">
                            <h3>Issue Statistics</h3>
                        </div>
                        <div class="cardissue-content">
                            <div class="cardtext-issue"> 
                                    <h1 id="issuecnt">100</h1>
                                    <p style="font-size: large;">Total Issues</p>   
                                
                            </div>
                        </div>
                    </div>

                    <div class="leftcards2-commit">
                        <div class="card-head">
                            <h3>Commits Statistics</h3>
                        </div>
                        <div class="cardcommit-content">
                            <div class="card right2">
                                <div class="card-info-small">
                                    <h2 id="commitcnt">967</h2>
                                    <small>Total Commits</small>
                                </div>
                            </div>
                            <div class="card right2">
                                <div class="card-info-small">
                                    <h2 id="commiters">56</h2>
                                    <small>Total Commiters</small>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="rightcards2">
                    <div class="card-head">
                        <h3>Commits Statistics</h3>
                    </div>
                    <div class="leftcards3-content">
                        <div class="card lc3">
                            <div class="card-info-small">
                                <h2 id="pullcnt">108</h2>
                                <small>Total Pulls</small>
                            </div>
                        </div>
                        <div class="card lc3">
                            <div class="card-info-small">
                                <h2 id="openpull">19</h2>
                                <small>Open Pull Requests</small>
                            </div>
                        </div>
                        <div class="card lc3">
                            <div class="card-info-small">
                                <h2 id="closedpull">44</h2>
                                <small>Closed Pull Requests</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="tables">
                <div class="table1">
                    <div class="table1-head">
                        <h3>Repositories(Groups) Details</h3>
                    </div>
                    <div class="table1-content">


                        <table id="repo-list">
                            <tr>
                                <th>Repository_ID</th>
                                <th>Repository_Name</th>
                                <th>Stars</th>
                                <th>Commits</th>
                                <th>Issues</th>
                                <th>Pull Requests</th>
                            </tr>
                            <!-- 其他行... -->
                        </table>
                    </div>
                </div>

            </div>
        </main>
    </div>
    
    <script src="{{ url_for('static', filename='js/overview.js') }}"></script>

</body>

</html>